.header {
    margin: 0 0 40px 0;
    padding: 10px;
    border: 15 px thick black;
    font-size: 0;
    background-color: cadetblue;
  }

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
    border: 15px thick  black;
}

.logo {
    width: 15%;
}

.logo > img {
    height: 100%;
}

li {
    display: inline;
}

.navbar {
    width: 70%;
    text-align: left;
    color: #025157;
    font-weight: 500;
}

.actions {
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}



  